<!DOCTYPE html>
<html>
<head>
  <title>Yalefacebookplus</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" %>
  <%# javascript_include_tag "ajaxtest.js" %>


  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</htm l
